L 0 -750 200 -750 -1 0
L 200 -650 200 -750 -1 0
L 0 -650 200 -650 -1 0
L 0 -750 0 -650 -1 0
L 950 -850 1800 -850 -1 0
L 1800 -750 1800 -850 -1 0
L 950 -750 1800 -750 -1 0
L 950 -850 950 -750 -1 0
L 1600 -750 1800 -750 -1 0
L 1800 -650 1800 -750 -1 0
L 1600 -650 1800 -650 -1 0
L 1600 -750 1600 -650 -1 0
L 0 -850 950 -850 -1 0
L 950 -750 950 -850 -1 0
L 0 -750 950 -750 -1 0
L 0 -850 0 -750 -1 0
L 200 -750 950 -750 -1 0
L 950 -650 950 -750 -1 0
L 200 -650 950 -650 -1 0
L 200 -750 200 -650 -1 0
L 0 -650 1800 -650 -1 0
L 1800 -350 1800 -650 -1 0
L 0 -350 1800 -350 -1 0
L 0 -650 0 -350 -1 0
L 0 -350 1800 -350 -1 0
L 1800 0 1800 -350 -1 0
L 0 0 1800 0 -1 0
L 0 -350 0 0 -1 0
T 600 -165 0.00 0.00 45 0 0 0 0 27 82
        HIGH ENERGY PHYSICS
T 0 -581 0.00 0.00 31 0 0 0 0 11 82
Page Title:
T 0 -481 0.00 0.00 31 0 0 0 0 16 82
Schematic Title:
T 800 -281 0.00 0.00 31 0 0 0 0 21 82
Philadelphia PA 19104
T 850 -231 0.00 0.00 31 0 0 0 0 18 82
209 S 33rd  Street
T 0 -381 0.00 0.00 31 0 0 0 0 13 82
Design Title:
T 600 -95 0.00 0.00 45 0 0 0 0 26 82
UNIVERSITY OF PENNSYLVANIA
T 0 -781 0.00 0.00 31 0 0 0 0 9 82
Designer:
T 1350 -831 0.00 0.00 31 0 0 0 0 2 82
of
T 950 -781 0.00 0.00 31 0 0 0 0 6 82
Sheet:
T 200 -681 0.00 0.00 31 0 0 0 0 5 82
Date:
T 1600 -681 0.00 0.00 31 0 0 0 0 3 82
Rev
T 950 -681 0.00 0.00 31 0 0 0 0 16 82
Document Number:
T 0 -681 0.00 0.00 31 0 0 0 0 4 82
Size
P "COMMENT_BODY" "TRUE" 0 50 0.00 0.00 50 0 0 0 0 0 0 0 0
P "DESIGNER" "Godwin Mayers" 250 -831 0.00 0.00 31 0 0 0 0 0 1 0 1
P "TITLE" "TITLE" 400 -395 0.00 0.00 45 0 0 0 0 0 1 0 1
P "PAGE_NAME" "" 400 -595 0.00 0.00 45 0 0 0 0 0 1 0 1
P "SCHEMATIC_NAME" "" 400 -495 0.00 0.00 45 0 0 0 0 0 1 0 1
P "PAGE_MODIFY_DATE" "" 250 -731 0.00 0.00 31 0 0 0 0 0 1 0 1
P "PAGE_COUNT" "Pg_Cnt" 1450 -831 0.00 0.00 31 0 0 0 0 0 1 0 1
P "PAGE_NUMBER" "Pg_No" 1150 -831 0.00 0.00 31 0 0 0 0 0 1 0 1
P "PAGE_SIZE" "" 0 -731 0.00 0.00 31 0 0 0 0 0 1 0 1
P "REVCODE" "Rev?" 1600 -731 0.00 0.00 31 0 0 0 0 0 1 0 1
